<ion-header>
  <ion-navbar>
    <ion-title>Inventory Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item-group>
		<ion-item-divider color="primary">Site Inventory</ion-item-divider>
		<ion-item color="light" *ngFor="let invtry of inventory">
            <!--Only View Access-->
            <ion-label>{{invtry.item}}</ion-label>
            <ion-label item-end *ngIf="!siteDetail.edit">{{invtry.count}} {{invtry.uom}}</ion-label>
		</ion-item>
	</ion-item-group>
</ion-content>
