<ion-header>
  <ion-navbar>
    <ion-title>Edit Inventory Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item-group>
		<ion-item-divider color="primary">Site Inventory</ion-item-divider>
		<ion-item color="light" *ngFor="let invtry of inventory">
			<!-- Edit View -->
			<ion-input 
				[(ngModel)] = "invtry.item" 
				type="text"   
				#item="ngModel">		
			</ion-input>
			<ion-input 
				[(ngModel)] = "invtry.count" 
				type="text"   
				#count="ngModel">		
			</ion-input>
			<ion-select 
				[(ngModel)] = "invtry.uom" 
				#uom="ngModel">
			  <ion-option  *ngFor="let um of uomList" value='{{um.value}}'>{{um.text}}</ion-option>
			</ion-select>
            <button item-end color="danger" ion-button (click)="removeinventory(invtry)"> Remove </button>
		</ion-item>
		<ion-item>
			<button *ngIf="siteDetail.approve" ion-button (click)="approvesitedata()">Approve</button>
			<button *ngIf="siteDetail.approve" ion-button (click)="rejectsitedata()">Reject</button>
			<button ion-button (click)="save(inventory)">Save</button>
			<button ion-button (click)="addinventory()">Add</button>
		</ion-item>
	</ion-item-group>
</ion-content>
